@media (max-width: 882px) {
    .landing {
        left: 25%;
    }

    .logo {
        width: 120px;
    }

    .wave {
        width: 125px;
    }

    .logoouter {
        width: 125px;
    }

    .search {
        width: 125px;
    }

    .searchbox {
        width: 115px;
    }

    .navlinks {
        font-size: 16px;
    }
}